@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
}

@theme {
	--breakpoint-xs: 26rem;
	--breakpoint-3xl: 101rem;
	--animate-gradient: gradient 10s linear infinite;
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		100% {
			background-position: 100% 50%;
		}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1d1d1d;
		--foreground: #ededed;
	}
}

body {
	background: #1d1d1d;
	color: #ededed;
}

.gradient-text {
	background: linear-gradient(
		to right,
		#fefefe,
		#6a6a6a,
		#2e2e2e,
		#6a6a6a,
		#fefefe,
		#6a6a6a,
		#2e2e2e
	);
	background-size: 300% 300%;
	background-clip: text;
	text-overflow: wrap;
}

.cursor {
	background-color: #fff;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	will-change: transform;
}

.cursor-text {
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	will-change: transform;
}

.about-image {
	position: relative;
	overflow: hidden;
}

.about-image::before,
.about-image::after {
	content: '';
	position: absolute;
	inset: 0;
	background-position: center;
	background-size: cover;
	transition: opacity 0.5s ease-out, filter 0.5s ease-out;
	z-index: 0;
}

.about-image::before {
	background-image: url('/meteor.svg');
	opacity: 1;
}

.about-image::after {
	background-image: url('/about-me.jpg');
	background-position: 30% 70%;
	opacity: 0;
	filter: brightness(50%) blur(0px);
}

.about-image:hover::before {
	opacity: 0;
}

.about-image:hover::after {
	opacity: 1;
}

.about-image > * {
	position: relative;
	z-index: 1;
}

/* Make sure text stays above the images */
.works-image > * {
	position: relative;
	z-index: 1;
}

.works-image {
	position: relative;
	overflow: hidden;
}

.works-image::before,
.works-image::after {
	content: '';
	position: absolute;
	inset: 0;
	background-position: center;
	background-size: cover;
	transition: opacity 0.5s ease-out, filter 0.5s ease-out;
	z-index: 0;
}

.works-image::before {
	background-image: url('/simple_shiny.svg');
	opacity: 1;
}

.works-image::after {
	background-image: url('/works-image.png');
	opacity: 0;
	filter: brightness(50%) blur(1px);
}

.works-image:hover::before {
	opacity: 0;
}

.works-image:hover::after {
	opacity: 1;
}

/* Make sure text stays above the images */
.works-image > * {
	position: relative;
	z-index: 1;
}
